@import "../../scss/variables";

.header {
  text-align: center;
  padding: 0.5rem;
  margin-top: 3rem;

  h1 {
    margin-bottom: 1rem;
    font-size: 2.3rem;
    color: $cardNavBgColor;
  }

  //! buttons

  .btns {
    margin-top: 3rem;

    button {
      padding: .5rem 1.3rem;
      border-radius: $borderRadius;
      border: none;
      cursor: pointer;
      transition: all 1s;
      background-color: #859ba1;
      margin-bottom: 3rem;
     
      &.active {
        background-color: $btnHoverColor;
      }
      &:hover {
        background-color: $btnHoverColor;
      }
    }
  }
}





h1{

position: relative;
font-size: 6em;
Letter-spacing: 10px;
color: #0e3742;
text-transform: uppercase;
width: 100%;

Line-height: 0.70em;
outline: none;
animation : animate 8s linear infinite;

}


@keyframes animate {
  0%{
    color: #0e3742;
    text-shadow:  0 0 40px #03bcf4,
  }

  50%  {
    color: #fff;
    text-shadow: 0 0px #03bcf4,
                 0 0 0px #03bcf4,
                
                
  }
}